<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<body>
 <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('https://www.umbrellaconsultants.com/files/resources/outer-banks-web-development-hosting.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">La team</h1>
          <h4>Rencontrez l'incroyable équipe à l'origine de ce projet et découvrez comment nous travaillons.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h5 class="description"></h5>
          </div>
        </div>
      </div>
      <div class="about-team team-1">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">THP Team Toulouse Session 10</h2>
            <h5 class="description">Nous sommes 5 adultes apprenant le développement web en suivant la formation The_Hacking_Project. Ce site est notre projet final. Il est écrit en Ruby on Rails, et hebergé sur Heroku.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="https://eternia.fr/public/media/pokedex/artworks/429.png">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Polo</h4>
                <h6 class="category text-muted">Developpeur en carton</h6>
                <p class="card-description">
                  And I love you like Kanye loves Kanye. We need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-google">
                  <i class="fa fa-google"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="https://www.pokepedia.fr/images/thumb/3/30/Ectoplasma_Pokk%C3%A9n_Tournament.png/200px-Ectoplasma_Pokk%C3%A9n_Tournament.png">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Thomas</h4>
                <h6 class="category text-muted">Developpeur en carton</h6>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="https://wir.skyrock.net/wir/v1/profilcrop/?c=mog&w=301&h=301&im=%2Fart%2FPRIP.92250084.11.2.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Sarah</h4>
                <h6 class="category text-muted">Developpeur à paillettes</h6>
                <p class="card-description">
                  I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="https://em.wattpad.com/555b19937bf5f4382f80ede2d74e25b2f895d696/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4d667762614a55795a67344b48413d3d2d312e313562336362313334346266383665383435313432353531313733322e6a7067?s=fit&w=720&h=720">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Zélig</h4>
                <h6 class="category text-muted">Developpeur BG</h6>
                <p class="card-description">Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="https://i.pinimg.com/originals/0f/9f/5c/0f9f5c2da6f529ab7f8236a5a7bc8429.png">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Barbara</h4>
                <h6 class="category text-muted">Developpeur à paillettes</h6>
                <p class="card-description">Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
<<<<<<< HEAD
=======
      <div class="about-services features-2">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Ce que nous construisons pour vous</h2>
            <h5 class="description">Vous souhaitez apprendre les bases de la couture mais ne savez pas comment. Chez Couture Academy, nous travaillons pour vous permettre d'apprendre à coudre de chez vous par des cours en vidéo et des explications pas à pas.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">gesture</i>
              </div>
              <div class="description">
                <h4 class="info-title">1. Design</h4>
                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                <a href="#pablo">Find more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">build</i>
              </div>
              <div class="description">
                <h4 class="info-title">2. Develop</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                <a href="#pablo">Find more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">mode_edit</i>
              </div>
              <div class="description">
                <h4 class="info-title">3. Make Edits</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                <a href="#pablo">Find more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
>>>>>>> master
    </div>
  </div>
</body>