<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<head>
<!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<body>
 <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg9.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">La team</h1>
          <h4>Rencontrez l'incroyable équipe à l'origine de ce projet et découvrez comment nous travaillons.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h5 class="description"></h5>
          </div>
        </div>
      </div>
      <div class="about-team team-1">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Nous sommes l'équipe de bg de Toulouse</h2>
            <h5 class="description">C'est le paragraphe où vous pouvez écrire plus de détails sur votre équipe. Gardez l'utilisateur engagé en fournissant des informations significatives.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="../assets/img/faces/marc.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Polo</h4>
                <h6 class="category text-muted">Developpeur en carton</h6>
                <p class="card-description">
                  And I love you like Kanye loves Kanye. We need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-google">
                  <i class="fa fa-google"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="../assets/img/faces/kendall.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Thomas</h4>
                <h6 class="category text-muted">Developpeur en carton</h6>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </a>
                <a href="#" class="btn btn-just-icon btn-link btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="../assets/img/faces/christian.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Sarah</h4>
                <h6 class="category text-muted">Web Developer</h6>
                <p class="card-description">
                  I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="../assets/img/faces/avatar.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Zélig</h4>
                <h6 class="category text-muted">Web Developer</h6>
                <p class="card-description">Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#">
                  <img class="img" src="../assets/img/faces/avatar.jpg">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Barbara</h4>
                <h6 class="category text-muted">Web Developer</h6>
                <p class="card-description">Don't be scared of the truth because we need to restart the human foundation.
                </p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-services features-2">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Se que nous construissons pour vous</h2>
            <h5 class="description">Vous souhaitez apprendre les bases de la couture mais ne savais pas comment. Sur couture academy nous travaillons pour vous permettre d'apprendre a coudre de chez vous par des cours en video et des explications pas à pas.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">gesture</i>
              </div>
              <div class="description">
                <h4 class="info-title">1. Design</h4>
                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                <a href="#pablo">Find more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">build</i>
              </div>
              <div class="description">
                <h4 class="info-title">2. Develop</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                <a href="#pablo">Find more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">mode_edit</i>
              </div>
              <div class="description">
                <h4 class="info-title">3. Make Edits</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                <a href="#pablo">Find more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>