<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

 <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('http://antoinethiebaut.be/wp-content/uploads/2018/06/contact-maison-inspiration-de-conception-1.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="title text-primary">Nous contacter</h1>
            <h3 class="title text-center"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="contact-content">
      <div class="container"><br>
        <div class="row">
          <div class="col-md-6">
            <p class="text">Vous pouvez nous contacter pour tout ce qui concerne nos cours. Nous vous contacterons dès que possible.<br><br></p>
            <form role="form" id="contact-form" method="post">
              <div class="form-group">
                <label for="name" class="bmd-label-floating">Votre nom d'utilisateur</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmails" class="bmd-label-floating">Adresse Email</label>
                <input type="email" class="form-control" id="exampleInputEmails">
                <span class="bmd-help">Vous ne devez jamais partager vos information de connection avec un tiers.</span>
              </div>
              <div class="form-group">
                <label for="phone" class="bmd-label-floating">Téléphone</label>
                <input type="text" class="form-control" id="phone">
              </div>
              <div class="form-group label-floating">
                <label class="form-control-label bmd-label-floating" for="message">Votre message ici</label>
                <textarea class="form-control" rows="6" id="message"></textarea>
              </div>
              <div class="submit text-center">
                <input type="submit" class="btn btn-primary btn-raised btn-round" value="Envoyer">
              </div>
            </form>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">mail</i>
              </div>
              <div class="description">
                <h4 class="info-title">Par Email</h4>
                <p>coutureacademytoulouse@gmail.com
                </p>
              </div>
              <div class="icon icon-primary info-horizontal">
                <i class="material-icons fa fa-facebook-square"><h4 class="info-title">Facebook<p>site facebook</p></h4></i>
              </div>
              <div class="icon icon-primary info-horizontal">
                <i class="material-icons fa fa-twitter"><h4 class="info-title">Twitter<p>site twitter</p></h4></i>
              </div>
              <div class="icon icon-primary info-horizontal">
                <i class="material-icons fa fa-instagram"><h4 class="info-title">Instagram<p>site instagram</p></h4></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  