<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(/assets/background/back_contact.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1 class="title text-primary">Nous contacter</h1>
            <h3 class="title text-center"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="contact-content">
      <div class="container"><br>
        <div class="col">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">email</i>
              </div>
              <div class="description">
                <h4 class="info-title">Envoyez nous un email</h4>
                <a href="mailto:coutureacademytoulouse@gmail.com">coutureacademytoulouse@gmail.com</a>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">phone</i>
              </div>
              <div class="description">
                <h4 class="info-title">Appelez nous</h4>
                <p> Paul Poitrenaud<br>
                  +33 06 77 02 93 85<br>
                </p>
                <p> Thomas Delage<br>
                  +33 06 25 27 21 95<br>
                </p>
              </div>
            </div><br/>
            </div>
          </div>
      </div>
    </div>
  </div>
  