<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(/assets/background/back_faq.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Foire Aux Questions</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-description text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Comment puis-je avoir accès aux ateliers ? </h3>
          <h4> Il vous suffit de créer gratuitement un compte sur notre site. </h4> 
        </div> 
      </div><br/>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Ai-je accès à tous les ateliers avec mon compte ? </h3>
          <h4> Vous aurez accès à tous les ateliers gratuits.  Certains ateliers premium doivent être achetés à l’unité. </h4> 
        </div> 
      </div><br/>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> A quoi ai-je le droit lorsque je paye un atelier Premium ? </h3>
          <h4> Vous avez accès au cours à vie depuis votre espace personnel. Vous avez également accès à toutes les ressources mises en ligne par le·a créateur·ice du cours. </h4> 
        </div> 
      </div><br/>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Avec quels moyens de paiement puis-je régler un atelier Premium ? </h3>
          <h4> Vous pouvez payer avec une carte de crédit (Visa, Mastercard…). </h4> 
        </div> 
      </div><br/>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Qui peut créer un atelier sur Couture Academy ? </h3>
          <h4> Tout le monde peut proposer un atelier sur Couture Academy. Vous pouvez soumettre un cours en ligne et il sera validé en 48 heures par notre équipe dédiée. </h4> 
        </div> 
      </div><br/>
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Pour quelle raisons mon atelier peut être refusé ? </h3>
          <h4> Votre atelier peut-être refusé s’il contient du contenu plagié ou soumis à des droits d’auteurs qui ne sont pas les vôtres. Il sera refusé également s’il véhicule des messages discriminants ou diffamatoires. Il doit être adapté à une réalisation dans le cadre domestique et ne pas comporter de manipulations ou d’outils dangereux. </h4> 
        </div> 
      </div><br/>
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Je veux proposer un atelier mais je ne suis pas sûr·e qu’il entre dans une de vos catégories, comment faire ? </h3>
          <h4> Contactez-nous, peut être qu’il y a une nouvelle catégorie à créer sur le site…! </h4> 
        </div> 
      </div><br/>
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> Qui décide de rendre un atelier payant et du prix qu’il coûte ? </h3>
          <h4> C’est au créateur ou à la créatrice de l’atelier de décider de son statut gratuit ou premium. C’est également il ou elle qui fixe le montant à payer. </h4> 
        </div> 
      </div><br/>
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
          <h3 class="title"> J’ai payé pour un atelier premium mais j’estime qu’il coûte trop cher pour le contenu proposé </h3>
          <h4> Contactez le service client pour expliquer votre problème, nous serons ravis de vous aider. </h4> 
        </div> 
      </div><br/>
    </div> 
  </div> 
