<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://themes.getbootstrap.com/product/material-kit-pro/
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<div class="page-header header-filter" style="background-image: url(/assets/background/back_log.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <form class="form" action="show">  
          <div class="card card-signup card-hidden">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title text-center">Mot de passe oublié?</h4>
            </div>
            <span class="bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                  <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: "Votre email" %>
              </div>
            </span>            
            <div class="card-footer justify-content-center">
              <%= f.submit "Envoyer message d'instruction", class: 'btn btn-rose btn-link btn-lg' %>
            </div>
          </div>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>