<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé un changement de mot de passe. Vous pouvez le faire avec le lien ci dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas fais cette demande, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous ne cliquez pas sur ce lien et en créer un autre .</p>
