<footer class="footer footer-black">
    <div class="container">
        <a class="footer-brand" href="#">Couture Academy</a>
        <ul class="pull-center">
            <li>
                <a href="#">A propos</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li>
                <a href="#">Légal</a>
            </li>
            <li>
                <a href="#">Nous contacter</a>
            </li>
        </ul>
        <ul class="social-buttons float-right">
            <li>
                <a href="#" target="_blank" class="btn btn-just-icon btn-link">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="btn btn-just-icon btn-link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="copyright float-right">
                &#xA9; 
            <script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by Creative Tim for a better web.
        </div>
    </div>
</footer>
       