<footer class="footer footer-black">
    <div class="container">
        <a class="footer-brand" href="#">Couture Academy</a>
        <ul class="pull-center">
            <li>
                <a href="/static_pages/about">A propos</a>
            </li>
            <li>
                <a href="/static_pages/faq">FAQ</a> 
            </li>
            <li>
                <a href="/static_pages/legal_notice">Légal</a>
            </li>
            <li>
                <a href="/static_pages/contact">Nous contacter</a>
            </li>
        </ul>
        <ul class="social-buttons float-right">
            <li>
                <a href="https://www.pinterest.fr/coutureacademy/" target="_blank" class="btn btn-just-icon btn-link">
                    <i class="fa fa-pinterest"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/couture.aca.1" target="_blank" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/coutureacademyt/" target="_blank" class="btn btn-just-icon btn-link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="copyright float-right">
                &#xA9; 
            <script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by THP Team Toulouse.
        </div>
    </div>
</footer>
       