<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/"> Couture Academy </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#courses" class="nav-link"> Tous les cours </a>
      </li>
      <li class="nav-item">
        <a href="/static_pages/faq" class="nav-link"> FAQ </a>
      </li>
      <li class="nav-item">
        <a href="/static_pages/about" class="nav-link"> A propos </a>
      </li>
      <li class="dropdown nav-item">
        <a href="#" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
          <div class="profile-photo-small">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Circle Image" class="rounded-circle img-fluid">
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if user_signed_in? %>
              <a href="#" class="dropdown-item">Mon profil</a>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          <% else %>
              <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item" %>
              <%= link_to "Créer un compte", new_user_registration_path, class:"dropdown-item" %>
           <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>